@{
	ViewData["Title"] = "Registration Disabled";
}

<div class="text-center">
	<h1 class="display-4">Registration Disabled</h1>
	<p class="lead">New user registration is currently disabled.</p>
	<hr />
	<p>
		If you need access to the system, please contact an administrator.
	</p>
	<p>
		<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
	</p>
</div>
